.rounded-box{
    background: #f0f1f4;
    padding: 10px 0;
    border-radius: 3px;
    margin: 0 0 10px 0;
}

.divs-container div{
    margin: 2px 8px;
}


input.ng-invalid{
    border: 1px solid red !important;
  }